#div1 .center{

    margin-left: 500px;
}
.boton{
    background-color: rgb(186, 168, 219);
    text-decoration: none;
    padding: 30px;
    width: 80px;
    color: rgba(128, 0, 128, 0.507);
    border-radius: 6px;
    border: 2px solid rgba(105, 52, 105, 0.966);
    font-size: large;


}
.color{
    background-color: rgb(14, 13, 14);
    text-decoration: none;
    padding: 30px;
    width: 80px;
    color: #ffffff;
    border-radius: 6px;
    border: 2px solid rgb(243, 202, 231);
    font-size: large;
}
.visualiza{
    padding: 10px;
    width: 295px;
    background-color: rgb(245, 189, 250);
    text-align: right;
    border-radius: 20px;
    border: 2px solid gainsboro;
}

.memoria{
    padding: 10px;
    width: 295px;
    background-color: rgb(245, 189, 250);
    text-align: right;
    border-radius: 20px;
    border: 2px solid gainsboro;
}
.tex{
 margin-left: 10px;
}
.Contenedor{
    margin: auto;
}